/*AGENT_SHEET*/

/*********************************************************************************************
  simpleMenuWizard: Firefox 89+ userChrome.css tweaks to remove context menu items.
  https://github.com/stonecrusher/simpleMenuWizard
**********************************************************************************************

/*** image-context.css ***/

/* #context-reloadimage,             /* Reload Image                    */
/* #context-viewimage,               /* Open Image in New Tab           */
/* #context-saveimage,               /* Save Image As…                  */
/* #context-copyimage-contents,      /* Copy Image                      */
/* #context-copyimage,               /* Copy Image Link                 */
/* #context-sendimage,               /* Email Image…                    */
/* #context-sep-setbackground,       /************ Separator ************/
/* #context-setDesktopBackground,    /* Set As Desktop Background...    */
/* #context-sep-ctp,                 /************ Separator ************/
/* #context-inspect,                 /* Inspect (Q)                     */

#leave_this_dummy_here
    { display:none !important; }
