/*AGENT_SHEET*/

/*********************************************************************************************
  simpleMenuWizard: userChrome.css tweaks to remove context menu items in Firefox.
  https://github.com/stonecrusher/simpleMenuWizard
**********************************************************************************************

/*** input-context.css ***/
/*** When right-clicking on an input-field ***/

/* #fill-login,                            /* Use Saved Login                  */
/* #fill-login-generated-password,         /* Suggest Strong Password…         */
/* #manage-saved-logins,                   /* Manage Logins                    */
/* #passwordmgr-items-separator,           /************ Separator *************/
/* #spell-no-suggestions,                  /* (No Spelling Suggestions)        */
/* menuitem.spell-suggestion,              /* ~ List of spelling suggestions ~ */
/* #spell-add-to-dictionary,               /* Add To Dictionary                */
/* #spell-undo-add-to-dictionary,          /* Undo Add To Dictionary           */
/* #spell-suggestions-separator,           /************ Separator *************/
/* #context-undo,                          /* Undo                             */
/* #context-redo,                          /* Redo                             */
/* #context-sep-redo,                      /************ Separator *************/
/* #context-cut,                           /* Cut                              */
/* #context-copy,                          /* Copy                             */
/* #context-paste,                         /* Paste                            */
/* #context-delete,                        /* Delete                           */
/* #context-selectall,                     /* Select All                       */
/* #context-sep-selectall,                 /************ Separator *************/
/* #context-keywordfield,                  /* Add a Keyword for this Search…   */
/* #spell-separator,                       /************ Separator *************/
/* #spell-check-enabled,                   /* Check Spelling                   */
/* #spell-dictionaries,                    /* Languages                        */
/* #spell-check-dictionary-en-US,              /* English (United States)          */
/* #spell-language-separator,                  /************ Separator *************/
/* #spell-add-dictionaries-main,               /* Add Dictionaries…                */
/* #context-sep-bidi,                      /************ Separator *************/
/* #context-bidi-text-direction-toggle,    /* Switch Text Direction            */
/* #context-bidi-page-direction-toggle,    /* Switch Page Direction            */
/* #fill-login-separator,                  /************ Separator *************/
/* #fill-login,                            /* Fill Login                       */
/* #inspect-separator,                     /************ Separator *************/
/* #context-inspect,                       /* Inspect (Q)                      */

#leave_this_dummy_here
    { display:none !important; }
