/*AGENT_SHEET*/

/*********************************************************************************************
  simpleMenuWizard: userChrome.css tweaks to remove context menu items in Firefox.
  https://github.com/stonecrusher/simpleMenuWizard
**********************************************************************************************

/*** opt_noSendToDevice.css ***/

/* #context-sendaudio,    /* Email Audio */
/* #context-sendvideo,    /* Email Video */
/* #context-sendimage,    /* Email Image */
#context-sendpagetodevice,
#context-sep-sendpagetodevice,
#context-sendlinktodevice,
#context-sep-sendlinktodevice,
#context_sendTabToDevice,
#context_sendTabToDevice_separator,

#pageAction-panel-sendToDevice,
/* #pageAction-panel-emailLink,    /* Email Link */

#leave_this_dummy_here
    { display: none !important; }
