/*AGENT_SHEET*/

/*********************************************************************************************
  simpleMenuWizard: userChrome.css tweaks to remove context menu items in Firefox.
  https://github.com/stonecrusher/simpleMenuWizard
**********************************************************************************************

/*** sidebar-header.css ***/
/*** When left-clicking on the sidebar header ***/

/* #sidebar-header,                                     /* Hide sidebar header completely (use shortcuts only) */
/* #sidebar-close,                                      /* Hide close button (X)                               */
/* #sidebar-switcher-target,                            /* Hide sidebar switcher                               */

/* TODO: Where is the following? Cannot reproduce */
/* #sidebar-switcher-bookmarks,                         /* Bookmarks                             */
/* #sidebar-switcher-history,                           /* History                               */
/* #sidebar-switcher-tabs,                              /* Synced Tabs                           */
/* #sidebar-switcher-tabs + toolbarseparator,           /*************** Separator ***************/
/* #sidebar-extensions-separator,                       /*** Separator (after possible addons) ***/
/* #sidebar-reverse-position,                           /* Move Sidebar to Right / Left          */
/* #sidebar-reverse-position + toolbarseparator,        /************** Separator ****************/
/* toolbarbutton[oncommand="SidebarUI.hide()"],         /* Close Sidebar                         */

#leave_this_dummy_here
    { display:none !important; }
