/*AGENT_SHEET*/

/*********************************************************************************************
  simpleMenuWizard: Firefox 57+ userChrome.css tweaks to remove context menu items.
  https://github.com/stonecrusher/simpleMenuWizard
**********************************************************************************************

/*** link-context.css ***/


/* pageAction-panel-bookmark,                            /* Bookmark This Page  */
#pageAction-panel-pocket,                              /* Save Page to Pocket */
/* #pageAction-panel-bookmarkSeparator,                   /* Separator           */
/* #pageAction-panel-copyURL,                             /* Copy Link           */
/* #pageAction-panel-emailLink,                           /* Email Link...       */
/* #pageAction-panel-sendToDevice,                        /* Send Tab to Device  */
/* #pageAction-panel-screeenshots,                        /* Take a Screenshot   */


#leave_this_dummy_here
    { display:none !important; }