/*AGENT_SHEET*/

/*********************************************************************************************
  simpleMenuWizard: Firefox 89+ userChrome.css tweaks to remove context menu items.
  https://github.com/stonecrusher/simpleMenuWizard
**********************************************************************************************

/*** urlbar-context.css ***/

/* #urlbar menuitem[cmd="cmd_undo"],                    /* Undo          */
/* #urlbar menuitem[cmd="cmd_redo"],                    /* Redo          */
/* #urlbar menuitem[cmd="cmd_redo"] + menuseparator,    /* Separator     */
/* #urlbar menuitem[cmd="cmd_cut"],                     /* Cut           */
/* #urlbar menuitem[cmd="cmd_copy"],                    /* Copy          */
/* #urlbar menuitem[cmd="cmd_paste"],                   /* Paste         */
/* #urlbar menuitem[anonid="paste-and-go"],             /* Paste and Go  */
/* #urlbar menuitem[cmd="cmd_delete"],                  /* Delete        */
/* #urlbar menuitem[cmd="cmd_selectAll"],               /* Select All    */
/* menuseparator.menuseparator-add-engine               /*** Separator ***/

#leave_this_dummy_here
    { display:none !important; }
